@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

 /* CSS code */
body {
  background: #CDC7E5;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;

}
a{
  text-decoration: none;
  color: white;
}
.btn{
  display: block;
  color: black;
  padding: 20px;
  background: white;
  margin: 16px;
  box-shadow: 10px 10px grey;
}
